---
import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
import Editor from "../components/Editor";
---

<Layout title="Welcome. Create your survey now">
	<main>
		<h1>Welcome</h1>
		<Editor />
	</main>
</Layout>
