---
import Layout from "../layouts/Layout.astro";
import Editor from "../components/Editor";
import Survey from "../components/Survey";

import { nanoid_gen, parse_markdown_v3 } from "../../../backend/pkg";
import Radio from "../components/Radio";
---

<Layout title="Welcome. Create your survey now">
	<main>
		<!-- <Editor parser={parse_markdown_v3} /> -->
		<Survey />
		<!-- <!-- <h1>{nanoid_gen(10)}</h1> -->
		<Editor client:only />
	</main>
</Layout>
