---
import Layout from "../layouts/Layout.astro";
import Editor from "../components/Editor";
import Survey from "../components/Survey";

import Radio from "../components/Radio";

import { supabase } from "../supabase";
import Login from "../components/Login";
import React from "react";
import App from "../components/App";
---

<!-- <p>signup <a href="/signup">about</a> Astro!</p>
<p>Login <a href="/login">about</a> Astro!</p>
<p>Check login<a href="/authenticated">about</a> Astro!</p> -->
<Layout title="Welcome. Create your survey now">
	<main>
		<!-- <React.StrictMode> -->
		<!-- <Login /> -->
		<!-- <Editor parser={parse_markdown_v3} /> -->
		<!-- <Survey /> -->
		<!-- <!-- <h1>{nanoid_gen(10)}</h1> -->
		<!-- </React.StrictMode> -->
		<App client:only />
	</main>
</Layout>
