---
import { supabase } from "../supabase";

// console.log("signin in:");
// const { data, error } = await supabase.auth.signUp({
//     email: "example@email.com",
//     password: "example-password",
// });
// console.log(data);

const { data, error } = await supabase.auth.signInWithOtp({
    email: "bitad89629@pubpng.com",
    options: {
        emailRedirectTo: "https://localhost:3000",
    },
});
console.log(JSON.stringify(data));
---

<h1>login</h1>
<p>{data}</p>
<p>{error}</p>
