@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*  from here: https://twitter.com/souporserious/status/1746378842787459501/photo/1 */
* {
  /* include padding and border in size calculation */
  box-sizing: border-box;
  /* position based on immediate parent and allow adjusting trbl */
  /* position: relative; */
  /* prevent grid and flex items from spilling out of container */
  min-width: 0;
}

body {
  /* body fills entire view port */
  min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
  /* balance headings across multiple lines into even block */
  text-wrap: balance;
}

p {
  /* prevent single words of text on new line */
  text-wrap: pretty;
}

.faq-section {
  max-width: 720px;
  input {
    display: none;
  }
  label {
    display: block;
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }
  .faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 10px;
    background-color: #fafafa;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  input:checked + label + .faq-content {
    max-height: 100px; /* Adjust this value based on the content height */
    padding: 10px;
  }
}

* {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* https://coolors.co/3a405a-f9dec9-99b2dd-e9afa3-685044
/* CSS HEX */
/*
--delft-blue: #3a405aff;
--champagne-pink: #f9dec9ff;
--powder-blue: #99b2ddff;
--melon: #e9afa3ff;
--umber: #685044ff;
*/

/* CSS HSL */
/*
--delft-blue: hsla(229, 22%, 29%, 1);
--champagne-pink: hsla(26, 80%, 88%, 1);
--powder-blue: hsla(218, 50%, 73%, 1);
--melon: hsla(10, 61%, 78%, 1);
--umber: hsla(20, 21%, 34%, 1); 
*/

/* SECOND PALETTE */
/* CSS HEX */
/* --bittersweet: #ff5e5bff;
--timberwolf: #d8d8d8ff;
--ivory: #ffffeaff;
--robin-egg-blue: #00cecbff;
--maize: #ffed66ff;

/* CSS HSL */
/*
--bittersweet: hsla(1, 100%, 68%, 1);
--timberwolf: hsla(0, 0%, 85%, 1);
--ivory: hsla(60, 100%, 96%, 1);
--robin-egg-blue: hsla(179, 100%, 40%, 1);
--maize: hsla(53, 100%, 70%, 1);
*/
