@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.skeu {
  margin: 50px;
  padding: 20px;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}