/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

html {
  background-color: antiquewhite;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

ul li {
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  /* flex-direction: column;
  justify-self: center;
  */
  /* justify-items: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* align-items: center; */
}

.container {
  display: grid;
  grid-template-rows: 100%;
}

.navbar {
  background: #e2e6be;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 3px 2px brown;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  > .ul {
    display: flex
  }

  .li {
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    /* justify-content: right; */
    /* align-items: flex-end; */
  }
}


.debug {
  border: 5px;
  border-color: red;
  border-style: double;
}

*:hover {
  color: greenyellow;
  background-color: black;
}