/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

html {
  background-color: antiquewhite;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

ul li {
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  /* flex-direction: column;
  justify-self: center;
  */
  /* justify-items: center; */
  width: 50%;
  /* align-items: center; */
  /* justify-content: center; */
  /* align-items: center; */
}

.container {
  display: grid;
  grid-template-rows: 100%;
}

.navbar {
  display: flex;
  justify-content: stretch;
  flex: auto;
  flex-direction: row;
}

.debug {
  border: 5px;
  border-color: red;
  border-style: double;
}

.navbar-items {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.navbar-links {
  /* display: flex; */
  align-items: flex-end;
  justify-content: right;
  list-style-type: none;
}