@tailwind base;
@tailwind components;
@tailwind utilities;


/* .wrapper {
    display: grid;
    grid-template-columns:
        1fr min(65ch, 100%) 1fr;
}

.wrapper>* {
    grid-column: 2;
}

.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
} */

* {
    outline: red;
    outline-style: double;
    outline-width: 4px;
    outline-color: blueviolet;
}

.navbar {
    display: flex;
    outline-color: red;
    flex-flow: row;
    justify-content: flex-end;
}

.navbar-home {
    margin-right: auto;
}

.editor-view {
    display: grid;
    grid-template-columns: 50%;
    flex-wrap: wrap;
    background-color: bisque;
}

.survey {
    
}