/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .wrapper {
    display: grid;
    grid-template-columns:
        1fr min(65ch, 100%) 1fr;
}

.wrapper>* {
    grid-column: 2;
}

.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
} */

* {
    outline: red;
    outline-style: solid;
    outline-width: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    display: flex;
    outline-color: green;
    flex-flow: row;
    justify-content: space-between;
}

.navbar-home {
    margin-right: auto;
}

.editor-view {
    display: grid;
    grid-template-columns: 50%;
    flex-wrap: wrap;
    /* background-color: bisque; */
    align-items: center;
    justify-items: stretch;
}

.survey {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.editor-form {
    display: flex;
    flex-direction: column;
}

.publish-button {
    /* justify-content: right; */
}

.editor-container {}

a {
    text-decoration: none;
    color: black;
    /* text-decoration-color: black; */
}

form {
    margin: 10px;

}

.links {
    height: 200px;
    width: 200px;
}

.login-form {
    
}