/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* .wrapper {
    display: grid;
    grid-template-columns:
        1fr min(65ch, 100%) 1fr;
}

.wrapper>* {
    grid-column: 2;
}

.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
} */

* {
    outline: red;
    outline-style: double;
    outline-width: 4px;
    outline-color: blueviolet;
    /* max-width: fit-content; */
}

.editor {

}

.navbar {
    display: flex;
    flex-direction: row;
    outline-color: red;
    /* align-items: center; */
    /* align-items: stretch; */
    justify-content: space-between;

}

.navbar-home {
    /* margin-right: ; */
    padding: 10px;
    /* margin-right: ; */
    /* flex: 6; */
}

.navbar-login,
.navbar-signup {
    align-items: flex-end;
    flex-grow: 1;
    /* flex: 1; */
    /* flex-direction: row; */
}

.editor-view {
    display: grid;
    grid-template-columns: 50%;
    flex-wrap: wrap;
    background-color: bisque;
}

.survey {}